/* global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: background-color 0.3s, border 0.3s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  transition: color 0.3s, background-color 0.3s;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}
