:root {
  /* Шрифт */
  --font-family: 'Montserrat Alternates', sans-serif;

  /* Z-индексы */
  --modal-index: 101;
  --btn-index: 100;
  --main-svg-index: 2;

  /* Цвета */
  --color-violet: #6a6a6c;
  --color-pink: #fad5cd;
  --color-yellow: #fff7d0;
  --color-orange: #febd59;
  --color-green: #eceac1;

  --border-color: #494949;
  --overlay-color: rgba(0 0 0 / 60%);
}
